# Dependencies
node_modules/**
/node_modules
proxy/node_modules/**
**/node_modules

# Build output
build/
dist/
/dist
**/dist
/build
**/build

# TypeScript build info
*.tsbuildinfo
**/*.tsbuildinfo
.tsbuildinfo
build/**/*.tsbuildinfo

# Configuration files - ignore everything in these directories first
/config/*
/extensions/*
/scripts/*
/coverage/*
/agent/*
# But don't ignore these specific files
!/config/README.md
!/config/*.example.ts
!/config/*.example.json
!/config/*server.config.ts
!/config/types.ts

!/extensions/README.md

# Environment variables
.env
.env.local
.env.*.local

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Output
output/

# Agent
agent/

# Coverage
coverage/

# Scripts
scripts/*
scripts
