@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Zepto";
  src: url("/font/Zepto.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 74, 74, 80; /* #4a4a50 */
  --background-end-rgb: 63, 63, 70; /* #3f3f46 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 74, 74, 80; /* #4a4a50 */
    --background-end-rgb: 63, 63, 70; /* #3f3f46 */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Zepto";
  text-transform: uppercase;
  font-weight: 400;
}

p,
span,
button {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* For WebKit browsers */

::-webkit-scrollbar {
  width: 20px; /* Thinner scrollbar */
}

::-webkit-scrollbar-track {
  background: black; /* Black track */
}

::-webkit-scrollbar-thumb {
  background: white; /* White thumb */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Thinner scrollbar */
  scrollbar-color: white black; /* White thumb and black track */
}

@media (max-width: 640px) {
  .scale-sm {
    transform: scale(0.7);
    transform-origin: left;
  }
}

.format-icon path {
  fill: white;
}
